header {
    height: 80px;
    background: rgba(224, 255, 255, 0.5);
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    
    .logo {
        color: #6BDAED;
        font-size: 25px;
    }

    .nav-links {
        width: 180px;
        ul {
            display: flex;
            justify-content: space-between;
            a {
                text-decoration: none;
            }
            li {
                list-style: none;
                color: gray;
            }
        }
    }

    @media all and (min-width: 768px) {
        padding: 0 30px;
    }
}